<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33467254099-avbrp6s7tb3ojfvge7pn110atpv26f70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33467254099-avbrp6s7tb3ojfvge7pn110atpv26f70</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>33467254099-g424e09j3cruj6rs2pldhufmdtjihfv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_FdtxxspdvFKt8tPZcXjL_B-AmREVJE</string>
	<key>GCM_SENDER_ID</key>
	<string>33467254099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaspardc.react-native-mlkit-starter</string>
	<key>PROJECT_ID</key>
	<string>ml-kit-custom-model-code-a4691</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-kit-custom-model-code-a4691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33467254099:ios:eee50f13cd9ed194</string>
	<key>DATABASE_URL</key>
	<string>https://ml-kit-custom-model-code-a4691.firebaseio.com</string>
</dict>
</plist>